.App {
  width: 1140px;
  margin: 0 auto;
  padding: 1em;
  &_form {
    width: 400px;
    margin: 0 auto;
    padding: 1em;
    font-size: 25px;
    input {
      width: 100%;
      padding: 1em;
      margin: 10px auto;
      border-radius: 12px;
    }
  }
}
