.App {
 margin: 30px auto;
  .Formiks {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 1em;
    width: 30%;
    margin: 0 auto;
   
    form {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      
      p.erorr {
        color: rgb(184, 10, 10);
        font-size: 15px;
      }
      
      input {
        border-radius: 15px;
        padding: 0.9em;
      }
    
      input[type="submit"] {
        background-color: rgb(128, 131, 128);
        color: white;
        font-size: 14px;
    }}}
  
    hr {
    margin-top: 50px;
    border: 1px solid gray;
  }
  
  .Container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    &-children {
      border-radius: 15px;
      padding: 1.2em;
      width: 30%;
     
      p {
        padding: 1em;
        font-weight: 600;
        i {
          float: right;
          font-size: 18px;
          color: rgb(57, 119, 200);
          cursor: pointer;
        }
        .password {
          font-weight: 900;
          font-size: 17px;
          background-color: white;
          border: none;
        }
        & span {
          background-color: rgb(139, 220, 255);
          border-radius: 8px;
          border: 2px dashed rgb(86, 148, 228);
          padding: 5px;
          padding: 0.5em;
          margin-right: 10px;
          font-weight: 700;
        }
      }
    }
  }
}
