.Users {
  width: 600px;
  margin: 50px auto;
  padding: 1em;
  border: 1px solid royalblue;
}

form {
  padding: 10px;
}

input {

  padding: 1em;
  font-size: 20px;
  margin: 12px;
}

ul {
  list-style: none;
  color: #fff;
}

li {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: 12px;
  font-size: 22px;
}

p {
  background-color: #111;
  padding: 1em;
  border-radius: 8px;
  color: orange;
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace
}