.container{
    width: 96%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 450px 1fr;
    form{
    width: 100%;
    padding: 24px 12ps;
    .form-group{
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 20px;
        input,select{
            font-size: 18px;
            padding: 0.6em 1em;
        }
        &_check{
            label{
                font-size: 20px;
                display: flex;
                gap: 20px;
                padding: 4px;
            }
        }
    }
    }
    .users{
        padding: 1em;
        margin-left: 20px;
        table{
            width: 100%;
            border-collapse: collapse;
          tr:nth-child(even){
            background-color: rgb(201, 198, 198);
          }
          tr{
            &.selected{
                background-color: green;
            }
          }
            th,td{
                border: 1px solid rgb(22, 20, 20);
                padding: 8px;
                color: black;
            }
            .pass{
                i{
                    float: right;
                    cursor: pointer;
                }
            }
        }
    }
    button{
        width: 200px;
        margin-left: 30px;
    }

}