.App {
  width: 50%;
  margin: 200px auto;
  padding: 2em;
  background-color: #111;
  color: #fff;
  &-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    height: 60px;
    select {
      float: right;
      padding: 6px 12px;
      font-size: 16px;
    }
  }
  &-content {
    padding: 1em;
    width: auto;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: width 200ms;
    h2 {
      margin-bottom: 16px;
      color: rgb(104, 134, 225);
    }
  }
  &-link {
    margin-top: 20px;
    padding: 6px;
    cursor: pointer;
    background: #fff;
    color: #111;
    font-weight: 500;
    display: block;
    width: 120px;
    border-radius: 4px;
  }
}
