@import "./sass/colors";
@import "./sass/variables";
@import "./sass/mixins";

body {
  background-color: $body-bg;
}

.App {
  max-width: $app-max-width;
  margin: 20px auto;
}
.Posts {
  background-color: $posts-wrapper-bg;
  padding: 1em;
  font-size: 18px;
  margin-top: 30px;
  @include flexRools(space-around, stretch, 20px);
  &__item {
    flex-basis: 100%;
    border: 1px solid $post-border-color;
    padding: 14px;
    position: relative;
    span {
      position: absolute;
      right: 30px;
      font-size: 30px;
      top: 4px;
      font-weight: 900;
      background-color: #009879;
      color: #fff;
      padding: 5px;
      min-width: 60px;
      text-align: center;
    }
  }
}

.pagination {
  margin: 20px auto;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  gap: 3px;
  li {
    font-size: 22px;
    width: 40px;
    padding: 6px;
    border: 1px solid #444;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #444;
      color: aliceblue;
    }
    &.active {
      background-color: #009879;
      color: #fff;
      scale: 1.1;
      border: 0;
      transition: 0.3s;
    }
  }
}
