.App {
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    &-title {
        margin: 10px auto;
        text-align: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 8px;
        font-style: inherit;
        overflow: unset;
        height: 40px;
        width: 150px;
        border: 2px solid #BFC0C0;
        color: wheat;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        padding-top: 5px;
        letter-spacing: 1.5px;
        background-image: linear-gradient(to right, #DECBA4, #3E5151);
      }
      &-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 250px;
        padding: 15px;
        background-image: linear-gradient(120deg, #2d4b5d 0%, #101949 100%, #31aa26 50%);
        div{
            padding: 15px;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            background-color: antiquewhite;
            border-radius: 10px;
            button{
                margin-top: 8px;
                padding: 4px;
                border-radius: 4px;
                margin: 10px auto;
                cursor: pointer;
                
                
            }
            button:hover{
                color: rgb(239, 245, 243);
                background-color: aquamarine;
            }

        }
      }
      .btn {
        background-image: linear-gradient(to right, #DECBA4, #3E5151);
        padding: 10px;
        border-radius: 7px;
        text-align: center;
        margin-top: 10px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        color: #DECBA4;
        text-transform: uppercase;
        cursor: pointer;
        

      }
      
    }
    
