.App{
    width: 50%;
    margin: 200px auto;
    padding: 2em;
    background-color: black;
    color: white;
    &-header{
        border-bottom: 1px solid #ccc;
        height: 60px;
        padding-bottom: 20px;

        
        select{
            float: right;
            padding: 6px 12px;
            font-size: 20px;

        }
    }
    &-content{
        padding: 1em;
        line-height: 1.6;
        font-family: 'Times New Roman', Times, serif;
        h2{
            margin-bottom: 12px;
            color: royalblue;
        }

    }
    &-link{
        margin-top: 20px;
        padding: 6px;
        cursor: pointer;
        background: white;
        color: black;
        font-weight: 500;
        display: block;
        width: 120px;
        border-radius: 4px;
    }
}