.App {
  width: 1140px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  &_posts {
    padding: 1.5em;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(238, 175, 202, 1) 64%,
      rgba(228, 237, 247, 1) 100%
    );
    border-radius: 15px;
    position: relative;
  }
  &_delete {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 27px;
    font-weight: 900;
    color: red;
    cursor: pointer;
  }
  &_id{
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(38, 38, 38);
    color: antiquewhite;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
  }
}
