.App{
    width: 1140px;
    margin: 0 auto;
       &>form{
         margin: 0 auto;
         width: 50%;
         text-align: center;
         &>input{
            padding: 0.6em;
            border-radius: 15px;
            cursor: pointer;
        }
        &>input[type="text"]{
            width: 200px;
            cursor:auto;
         }
       }
       &>ul{
         width: 20%;
         text-align: center;
         margin: 0 auto;
         &>li{
            width: 100%;
            padding: 0.6em;
            margin-top: 15px;
            border: 1px solid grey;
            border-radius: 15px;
            background-color: aqua;
            font-weight: 900

         }
       }
}